@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.xterm {
  height: 100%;
  padding: 12px;
}

/* Overrides for xterm.js */
.xterm-viewport::-webkit-scrollbar {
  width: 10px;
}

.xterm-viewport::-webkit-scrollbar-track {
  background: #333;
}

.xterm-viewport::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 5px;
}

.xterm-viewport::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* CodeMirror customization */
.cm-editor {
  height: 100%;
  font-family: 'Fira Code', monospace;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.run-button:active {
  transform: scale(0.98);
}